div {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.none {
  display: none;
}

.idpwForm {
  display: flex;
  justify-content: center;
}

.idpwForm span {
  margin-bottom: 3px;
}

.idpwInput {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.idInput {
  margin-bottom: 5px;
}

.loginBtn {
  display: flex;
  justify-content: flex-end;
}

.loginBtn button {
  border: none;
  width: 100px;
  height: 25px;
  background-color: cyan;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoBox {
  text-align: center;
  margin: 30px;
}

.xButton {
  margin-left: 20px;
}

.success {
  text-decoration: line-through;
}

body {
  background-image: url("https://images.unsplash.com/photo-1614332625575-6bef549fcc7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWVtb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60  ");
  background-size: cover;
  background-repeat: no-repeat;
}

.show__parent {
  display: flex;
  justify-content: center;
}

.show__percent {
  width: 40%;
  height: 20px;
  background-color: white;
}

.show__now {
  width: 10%;
  color: gray;
  background-color: black;
}
